
@import url('https://fonts.googleapis.com/css?family=Inter:700|Inter:400');

@media (prefers-color-scheme: light) {
  :root {
    --text-50: #f2f3f3;
    --text-100: #e4e7e7;
    --text-200: #cacece;
    --text-300: #afb6b6;
    --text-400: #959d9d;
    --text-500: #7a8585;
    --text-600: #626a6a;
    --text-700: #495050;
    --text-800: #313535;
    --text-900: #181b1b;
    --text-950: #0c0d0d;

    --background-50: #eff1f6;
    --background-100: #dfe3ec;
    --background-200: #bec7da;
    --background-300: #9eacc7;
    --background-400: #7d90b5;
    --background-500: #5d74a2;
    --background-600: #4a5d82;
    --background-700: #384661;
    --background-800: #252e41;
    --background-900: #131720;
    --background-950: #090c10;

    --primary-50: #e5ecff;
    --primary-100: #ccd9ff;
    --primary-200: #99b3ff;
    --primary-300: #668cff;
    --primary-400: #3366ff;
    --primary-500: #0040ff;
    --primary-600: #0033cc;
    --primary-700: #002699;
    --primary-800: #001966;
    --primary-900: #000d33;
    --primary-950: #00061a;

    --secondary-50: #e9eefb;
    --secondary-100: #d4ddf7;
    --secondary-200: #a9baef;
    --secondary-300: #7e98e7;
    --secondary-400: #5376df;
    --secondary-500: #2854d7;
    --secondary-600: #2043ac;
    --secondary-700: #183281;
    --secondary-800: #102156;
    --secondary-900: #08112b;
    --secondary-950: #040816;

    --accent-50: #e7ecfe;
    --accent-100: #cedafd;
    --accent-200: #9eb5fa;
    --accent-300: #6d90f8;
    --accent-400: #3c6bf6;
    --accent-500: #0b45f4;
    --accent-600: #0938c3;
    --accent-700: #072a92;
    --accent-800: #051c61;
    --accent-900: #020e31;
    --accent-950: #010718;

  }
}
@media (prefers-color-scheme: dark) {
  :root {
    --text-50: #0c0d0d;
    --text-100: #181b1b;
    --text-200: #313535;
    --text-300: #495050;
    --text-400: #626a6a;
    --text-500: #7a8585;
    --text-600: #959d9d;
    --text-700: #afb6b6;
    --text-800: #cacece;
    --text-900: #e4e7e7;
    --text-950: #f2f3f3;

    --background-50: #0a0d0f;
    --background-100: #14191f;
    --background-200: #29333d;
    --background-300: #3d4c5c;
    --background-400: #52667a;
    --background-500: #667f99;
    --background-600: #8599ad;
    --background-700: #a3b3c2;
    --background-800: #c2ccd6;
    --background-900: #e0e6eb;
    --background-950: #f0f2f5;

    --primary-50: #00061a;
    --primary-100: #000d33;
    --primary-200: #001966;
    --primary-300: #002699;
    --primary-400: #0033cc;
    --primary-500: #0040ff;
    --primary-600: #3366ff;
    --primary-700: #668cff;
    --primary-800: #99b3ff;
    --primary-900: #ccd9ff;
    --primary-950: #e5ecff;

    --secondary-50: #040815;
    --secondary-100: #08112b;
    --secondary-200: #102256;
    --secondary-300: #183281;
    --secondary-400: #2143ab;
    --secondary-500: #2954d6;
    --secondary-600: #5476de;
    --secondary-700: #7e98e7;
    --secondary-800: #a9bbef;
    --secondary-900: #d4ddf7;
    --secondary-950: #eaeefb;

    --accent-50: #010718;
    --accent-100: #020e31;
    --accent-200: #051c61;
    --accent-300: #072a92;
    --accent-400: #0938c3;
    --accent-500: #0b45f4;
    --accent-600: #3c6bf6;
    --accent-700: #6d90f8;
    --accent-800: #9eb5fa;
    --accent-900: #cedafd;
    --accent-950: #e7ecfe;

  }
}


body {
  font-family: 'Inter';
  font-weight: 400;
  background-color: var(--background-50);
  color: var(--text-950);
}

h1, h2, h3, h4, h5 {
  font-family: 'Inter';
  font-weight: 700;
}

html {font-size: 100%;} /* 16px */

h1 {font-size: 4.210rem; /* 67.36px */}

h2 {font-size: 3.158rem; /* 50.56px */}

h3 {font-size: 2.369rem; /* 37.92px */}

h4 {font-size: 1.777rem; /* 28.48px */}

h5 {font-size: 1.333rem; /* 21.28px */}

small {font-size: 0.750rem; /* 12px */}