* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
  }
 
  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }

 
  .municipio-section h1, .historia-section h2 {
    text-align: center;
    color: var(--text-950);
  }
 
  p {
    text-align: justify;
    color: var(--text-950);
    line-height: 1.6;
  }
 
.municipio-img{
  margin-block: 2rem;
}