
@import url('main.css');

/* test */
#quick-access summary{
  margin: 0;
}

.quick-access-list {
  background-color: var(--background-200);
  border-radius: var(--default-radius);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
}

.quick-access-list .item {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.4rem;
  width: 5rem;
  height: 5rem;
  padding: 1.5rem;
  background-color: var(--accent-500);
  color: var(--text-50);
  border-radius: var(--default-radius);
}


.quick-access-list .item span{
  text-align: center;
  font-size: 0.7rem;
}

.quick-access-list .item i{
  font-size: 1.2rem;
}