* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
  }
 
  .container-fluid {
    width: 100%;
    margin: 0 auto;
  }
 
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
  }
 
  .navbar ul {
    list-style: none;
    display: flex;
    gap: 1rem;
  }
 
  .navbar a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
  }


  nav a:nth-child(2) {
    color: #0033cc;
}
 
  .municipio-section, .historia-section {
    padding: 2rem 1rem;
  }
 
  .municipio-section h1, .historia-section h2 {
    text-align: center;
    color: #000;
    margin-bottom: 1.5rem;
  }
 
 
  .blue-box {
    width: 100%;
    height: 300px;
    background-color: #3572ff;
    margin-bottom: 1.5rem;
  }
 
  p {
    text-align: justify;
    color: black;
    line-height: 1.6;
  }
 
  .footer{
    background-color: var(--primary-500);
  }
 
  footer{
    display: flex;
    flex-direction: column;
  }
 
  footer *{
    color: var(--text-100);
  }
 
  footer .socials{
    margin-block: 1rem;
  }
  footer .socials h1{
    font-size: 1.5rem;
    text-transform: uppercase;
  }
 
  footer .socials .list{
    font-size: 3rem;
    display: flex;
    gap: 3.5rem;
  }
 
  footer .channels{
    display: flex;
  }
  footer .channels img{
    display: none;
    aspect-ratio: 3/4;
    object-fit: cover;
  }
 
  footer .channels ul li{
    list-style: none;
    &:first-child{
      font-size: 1.5rem;
      text-transform: uppercase ;
      font-weight: 600;
    }
  }
 
  footer .channels ul:first-child{
    font-size: 1.5rem;
    background-color: aqua;
  }
 
  footer .channels ul li span{
    text-transform: uppercase;
    font-weight: 600;
  }
  @media (max-width: 768px) {
    .nav-menu {
      display: none;
    }
 
    .nav-btn-menu {
      display: block;
    }
  }
